<!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="/dashboard">
          <img src="/dash/img/brand/logo-mc.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Tablero</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/balance">
                <i class="fas fa-wallet text-orange"></i>
                <span class="nav-link-text">Balance</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/referral">
                <i class="ni ni-satisfied text-primary"></i>
                <span class="nav-link-text">Referidos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/profile">
                <i class="ni ni-single-02 text-default"></i>
                <span class="nav-link-text">Perfil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reward">
                <i class="ni ni-trophy text-yellow"></i>
                <span class="nav-link-text">Premios</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/market">
                <i class="ni ni-shop text-info"></i>
                <span class="nav-link-text">Mercado</span>
              </a>
            </li>
          </ul>
          <!-- Divider -->
          <hr class="my-3">
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">
            <span class="docs-normal">Interno</span>
          </h6>
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
              <a class="nav-link" href="/" target="_blank">
                <i class="ni ni-spaceship"></i>
                <span class="nav-link-text">Página Principal</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.smartsupp.com/widget/ef7484cf1a9ab615b46a669fd12c7ac4af1125a2">
                <i class="ni ni-support-16 text-dark"></i>
                <span class="nav-link-text">Servicio al Cliente</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-gradient-default border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item dropdown">
              <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                <!-- Dropdown header -->
                <!-- List group -->
                <!-- View all -->
                <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item d-xl-none">
              <!-- Sidenav toggler -->
              <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="/dash/img/theme/team-4.jpg">
                  </span>
                  {{#each users}}
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">{{ username }}</span>
                  </div>
                  {{/each}}
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Bienvenid@!</h6>
                </div>
                <a href="/profile" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>Mi Perfil</span>
                </a>
                <a href="https://www.smartsupp.com/widget/ef7484cf1a9ab615b46a669fd12c7ac4af1125a2" target="_blank" class="dropdown-item">
                  <i class="ni ni-support-16"></i>
                  <span>Soporte</span>
                </a>
                <div class="dropdown-divider"></div>
                <a type="button" data-toggle="modal" data-target="#modalLogout" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Cerrar Sesión</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">Se requiere tu atención</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <i class="ni ni-button-power ni-4x"></i>
              <h4 class="heading mt-4">¿Está seguro que desea cerrar sesión?</h4>
              <p>Tendrá que iniciar sesión la proxima vez que regrese.</p>
            </div>
          </div>
          <div class="modal-footer">
            <a href="/logout" class="btn btn-white">Si, estoy seguro</a>
            <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">No cerrar sesión</button>
          </div>
        </div>
      </div>
    </div> 
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(/dash/img/theme/profile-cover.jpeg); background-size: cover; background-position: center top;">
      <span class="mask bg-gradient-default opacity-8"></span>
      <div class="container-fluid">
        <div class="header-body" style="margin-top: -100px;">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Perfil</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/dashboard">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="/" class="btn btn-sm btn-neutral">Volver al Principio</a>
            </div>
          </div>
        </div>
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
            <div class="col-lg-7 col-md-10">
              {{#each users}}
              <h1 class="display-2 text-white">Hola {{ username }}</h1>
              <p class="text-white mt-0 mb-5">Esta es tu página de perfil. Puede agregar y/o actualizar su información personal.</p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header -->
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="/dash/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/dash/img/theme/team-4.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                  </div>
                </div>
              </div>
              {{#each users}}
              <div class="text-center">
                <h5 class="h3">{{firstname}} {{lastname}}</h5>
                <div class="h5 font-weight-300">{{city}}, {{country}}</div>
                <div class="h5 mt-4">{{description}}
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        {{#if success_msg }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <span class="alert-icon"><i class="ni ni-like-2"></i></span>
              <span class="alert-text"><strong>¡Enhorabuena! -</strong> {{ success_msg }}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            {{/if}}
            {{#if error}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-icon"><i class="ni ni-support-16"></i></span>
                <span class="alert-text"><strong>¡Oh no! -</strong> {{error}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/if}}
            {{#each errors }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-icon"><i class="ni ni-support-16"></i></span>
                <span class="alert-text"><strong>¡Oh no! -</strong> {{text}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/each}}
            {{#if error_msg }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-icon"><i class="ni ni-support-16"></i></span>
                <span class="alert-text"><strong>¡Oh no! -</strong> {{error_msg}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/if}}
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Editar Perfil </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              {{#each users}}
              <form action="/profile/{{_id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <h6 class="heading-small text-muted mb-4">Informacion del usuario</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Usuario</label>
                        <input type="text" name="username" disabled class="form-control" placeholder="Usuario" maxlength="100" value="{{username}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Número Telefónico</label>
                        <input type="number" name="phone" class="form-control" placeholder="Número Telefónico" value="{{phone}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Nombres</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Nombres" value="{{firstname}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Apellidos</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Apellidos" value="{{lastname}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Información de Contacto</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label">Dirección</label>
                        <input name="address" class="form-control" placeholder="Direccion fiscal" type="text" value="{{address}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Ciudad</label>
                        <input type="text" name="city" class="form-control" placeholder="Ciudad" value="{{city}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">País</label>
                        <select class="form-select form-control" type="txt" name="country" value="">
                          <option value="Afganistán" style="color: black">Afganistán</option>
                          <option value="Albania" style="color: black">Albania</option>
                          <option value="Alemania" style="color: black">Alemania</option>
                          <option value="Andorra" style="color: black">Andorra</option>
                          <option value="Angola" style="color: black">Angola</option>
                          <option value="Antigua y Barbuda" style="color: black">Antigua y Barbuda</option>
                          <option value="Arabia Saudita" style="color: black">Arabia Saudita</option>
                          <option value="Argelia" style="color: black">Argelia</option>
                          <option value="Argentina" style="color: black">Argentina</option>
                          <option value="Armenia" style="color: black">Armenia</option>
                          <option value="Australia" style="color: black">Australia</option>
                          <option value="Austria" style="color: black">Austria</option>
                          <option value="Azerbaiyán" style="color: black">Azerbaiyán</option>
                          <option value="Bahamas" style="color: black">Bahamas</option>
                          <option value="Bangladesh" style="color: black">Bangladesh</option>
                          <option value="Barbados" style="color: black">Barbados</option>
                          <option value="Baréin" style="color: black">Baréin</option>
                          <option value="Bélgica" style="color: black">Bélgica</option>
                          <option value="Belice" style="color: black">Belice</option>
                          <option value="Benín" style="color: black">Benín</option>
                          <option value="Bielorrusia" style="color: black">Bielorrusia</option>
                          <option value="Bolivia" style="color: black">Bolivia</option>
                          <option value="Bosnia y Herzegovina" style="color: black">Bosnia y Herzegovina</option>
                          <option value="Botsuana" style="color: black">Botsuana</option>
                          <option value="Brasil" style="color: black">Brasil</option>
                          <option value="Brunéi" style="color: black">Brunéi</option>
                          <option value="Bulgaria" style="color: black">Bulgaria</option>
                          <option value="Burkina Faso" style="color: black">Burkina Faso</option>
                          <option value="Burundi" style="color: black">Burundi</option>
                          <option value="Bután" style="color: black">Bután</option>
                          <option value="Cabo Verde" style="color: black">Cabo Verde</option>
                          <option value="Camboya" style="color: black">Camboya</option>
                          <option value="Camerún" style="color: black">Camerún</option>
                          <option value="Canadá" style="color: black">Canadá</option>
                          <option value="Catar" style="color: black">Catar</option>
                          <option value="Chad" style="color: black">Chad</option>
                          <option value="Chile" style="color: black">Chile</option>
                          <option value="China" style="color: black">China</option>
                          <option value="Chipre" style="color: black">Chipre</option>
                          <option value="Ciudad del Vaticano*" style="color: black">Ciudad del Vaticano*</option>
                          <option value="Colombia" style="color: black">Colombia</option>
                          <option value="Comoras" style="color: black">Comoras</option>
                          <option value="Corea del Norte" style="color: black">Corea del Norte</option>
                          <option value="Corea del Sur" style="color: black">Corea del Sur</option>
                          <option value="Costa de Marfil" style="color: black">Costa de Marfil</option>
                          <option value="Costa Rica" style="color: black">Costa Rica</option>
                          <option value="Croacia" style="color: black">Croacia</option>
                          <option value="Cuba" style="color: black">Cuba</option>
                          <option value="Dinamarca" style="color: black">Dinamarca</option>
                          <option value="Dominica" style="color: black">Dominica</option>
                          <option value="Ecuador" style="color: black">Ecuador</option>
                          <option value="Egipto" style="color: black">Egipto</option>
                          <option value="El Salvador" style="color: black">El Salvador</option>
                          <option value="Emiratos Árabes Unidos" style="color: black">Emiratos Árabes Unidos</option>
                          <option value="Eritrea" style="color: black">Eritrea</option>
                          <option value="Eslovaquia" style="color: black">Eslovaquia</option>
                          <option value="Eslovenia" style="color: black">Eslovenia</option>
                          <option value="España" style="color: black">España</option>
                          <option value="Estados Unidos" style="color: black">Estados Unidos</option>
                          <option value="Estonia" style="color: black">Estonia</option>
                          <option value="Etiopía" style="color: black">Etiopía</option>
                          <option value="Filipinas" style="color: black">Filipinas</option>
                          <option value="Finlandia" style="color: black">Finlandia</option>
                          <option value="Fiyi" style="color: black">Fiyi</option>
                          <option value="Francia" style="color: black">Francia</option>
                          <option value="Gabón" style="color: black">Gabón</option>
                          <option value="Gambia" style="color: black">Gambia</option>
                          <option value="Georgia" style="color: black">Georgia</option>
                          <option value="Ghana" style="color: black">Ghana</option>
                          <option value="Granada" style="color: black">Granada</option>
                          <option value="Grecia" style="color: black">Grecia</option>
                          <option value="Guatemala" style="color: black">Guatemala</option>
                          <option value="Guyana" style="color: black">Guyana</option>
                          <option value="Guinea" style="color: black">Guinea</option>
                          <option value="Guinea Ecuatorial" style="color: black">Guinea Ecuatorial</option>
                          <option value="Guinea-Bisáu" style="color: black">Guinea-Bisáu</option>
                          <option value="Haití" style="color: black">Haití</option>
                          <option value="Honduras" style="color: black">Honduras</option>
                          <option value="Hungría" style="color: black">Hungría</option>
                          <option value="India" style="color: black">India</option>
                          <option value="Indonesia" style="color: black">Indonesia</option>
                          <option value="Irak" style="color: black">Irak</option>
                          <option value="Irán" style="color: black">Irán</option>
                          <option value="Irlanda" style="color: black">Irlanda</option>
                          <option value="Islandia" style="color: black">Islandia</option>
                          <option value="Islas Marshall" style="color: black">Islas Marshall</option>
                          <option value="Islas Salomón" style="color: black">Islas Salomón</option>
                          <option value="Israel" style="color: black">Israel</option>
                          <option value="Italia" style="color: black">Italia</option>
                          <option value="Jamaica" style="color: black">Jamaica</option>
                          <option value="Japón" style="color: black">Japón</option>
                          <option value="Jordania" style="color: black">Jordania</option>
                          <option value="Kazajistán" style="color: black">Kazajistán</option>
                          <option value="Kenia" style="color: black">Kenia</option>
                          <option value="Kirguistán" style="color: black">Kirguistán</option>
                          <option value="Kiribati" style="color: black">Kiribati</option>
                          <option value="Kuwait" style="color: black">Kuwait</option>
                          <option value="Laos" style="color: black">Laos</option>
                          <option value="Lesoto" style="color: black">Lesoto</option>
                          <option value="Letonia" style="color: black">Letonia</option>
                          <option value="Líbano" style="color: black">Líbano</option>
                          <option value="Liberia" style="color: black">Liberia</option>
                          <option value="Libia" style="color: black">Libia</option>
                          <option value="Liechtenstein" style="color: black">Liechtenstein</option>
                          <option value="Lituania" style="color: black">Lituania</option>
                          <option value="Luxemburgo" style="color: black">Luxemburgo</option>
                          <option value="Macedonia del Norte" style="color: black">Macedonia del Norte</option>
                          <option value="Madagascar" style="color: black">Madagascar</option>
                          <option value="Malasia" style="color: black">Malasia</option>
                          <option value="Malaui" style="color: black">Malaui</option>
                          <option value="Maldivas" style="color: black">Maldivas</option>
                          <option value="Malí" style="color: black">Malí</option>
                          <option value="Malta" style="color: black">Malta</option>
                          <option value="Marruecos" style="color: black">Marruecos</option>
                          <option value="Mauricio" style="color: black">Mauricio</option>
                          <option value="Mauritania" style="color: black">Mauritania</option>
                          <option value="México" style="color: black">México</option>
                          <option value="Micronesia" style="color: black">Micronesia</option>
                          <option value="Moldavia" style="color: black">Moldavia</option>
                          <option value="Mónaco" style="color: black">Mónaco</option>
                          <option value="Mongolia" style="color: black">Mongolia</option>
                          <option value="Montenegro" style="color: black">Montenegro</option>
                          <option value="Mozambique" style="color: black">Mozambique</option>
                          <option value="Myanmar" style="color: black">Myanmar</option>
                          <option value="Namibia" style="color: black">Namibia</option>
                          <option value="Nauru" style="color: black">Nauru</option>
                          <option value="Nepal" style="color: black">Nepal</option>
                          <option value="Nicaragua" style="color: black">Nicaragua</option>
                          <option value="Níger" style="color: black">Níger</option>
                          <option value="Nigeria" style="color: black">Nigeria</option>
                          <option value="Noruega" style="color: black">Noruega</option>
                          <option value="Nueva Zelanda" style="color: black">Nueva Zelanda</option>
                          <option value="Omán" style="color: black">Omán</option>
                          <option value="Países Bajos" style="color: black">Países Bajos</option>
                          <option value="Pakistán" style="color: black">Pakistán</option>
                          <option value="Palaos" style="color: black">Palaos</option>
                          <option value="Palestina*" style="color: black">Palestina*</option>
                          <option value="Panamá" style="color: black">Panamá</option>
                          <option value="Papúa Nueva Guinea" style="color: black">Papúa Nueva Guinea</option>
                          <option value="Paraguay" style="color: black">Paraguay</option>
                          <option value="Perú" style="color: black">Perú</option>
                          <option value="Polonia" style="color: black">Polonia</option>
                          <option value="Portugal" style="color: black">Portugal</option>
                          <option value="Reino Unido" style="color: black">Reino Unido</option>
                          <option value="República Centroafricana" style="color: black">República Centroafricana</option>
                          <option value="República Checa" style="color: black">República Checa</option>
                          <option value="República del Congo" style="color: black">República del Congo</option>
                          <option value="República Democrática del Congo" style="color: black">República Democrática del Congo</option>
                          <option value="República Dominicana" style="color: black">República Dominicana</option>
                          <option value="Ruanda" style="color: black">Ruanda</option>
                          <option value="Rumanía" style="color: black">Rumanía</option>
                          <option value="Rusia" style="color: black">Rusia</option>
                          <option value="Samoa" style="color: black">Samoa</option>
                          <option value="San Cristóbal y Nieves" style="color: black">San Cristóbal y Nieves</option>
                          <option value="San Marino" style="color: black">San Marino</option>
                          <option value="San Vicente y las Granadinas" style="color: black">San Vicente y las Granadinas</option>
                          <option value="Santa Lucía" style="color: black">Santa Lucía</option>
                          <option value="Santo Tomé y Príncipe" style="color: black">Santo Tomé y Príncipe</option>
                          <option value="Senegal" style="color: black">Senegal</option>
                          <option value="Serbia" style="color: black">Serbia</option>
                          <option value="Seychelles" style="color: black">Seychelles</option>
                          <option value="Sierra Leona" style="color: black">Sierra Leona</option>
                          <option value="Singapur" style="color: black">Singapur</option>
                          <option value="Siria" style="color: black">Siria</option>
                          <option value="Somalia" style="color: black">Somalia</option>
                          <option value="Sri Lanka" style="color: black">Sri Lanka</option>
                          <option value="Suazilandia" style="color: black">Suazilandia</option>
                          <option value="Sudáfrica" style="color: black">Sudáfrica</option>
                          <option value="Sudán" style="color: black">Sudán</option>
                          <option value="Sudán del Sur" style="color: black">Sudán del Sur</option>
                          <option value="Suecia" style="color: black">Suecia</option>
                          <option value="Suiza" style="color: black">Suiza</option>
                          <option value="Surinam" style="color: black">Surinam</option>
                          <option value="Tailandia" style="color: black">Tailandia</option>
                          <option value="Tanzania" style="color: black">Tanzania</option>
                          <option value="Tayikistán" style="color: black">Tayikistán</option>
                          <option value="Timor Oriental" style="color: black">Timor Oriental</option>
                          <option value="Togo" style="color: black">Togo</option>
                          <option value="Tonga" style="color: black">Tonga</option>
                          <option value="Trinidad y Tobago" style="color: black">Trinidad y Tobago</option>
                          <option value="Túnez" style="color: black">Túnez</option>
                          <option value="Turkmenistán" style="color: black">Turkmenistán</option>
                          <option value="Turquía" style="color: black">Turquía</option>
                          <option value="Tuvalu" style="color: black">Tuvalu</option>
                          <option value="Surinam" style="color: black">Surinam</option>
                          <option value="Tailandia" style="color: black">Tailandia</option>
                          <option value="Tanzania" style="color: black">Tanzania</option>
                          <option value="Tayikistán" style="color: black">Tayikistán</option>
                          <option value="Timor Oriental" style="color: black">Timor Oriental</option>
                          <option value="Togo" style="color: black">Togo</option>
                          <option value="Tonga" style="color: black">Tonga</option>
                          <option value="Trinidad y Tobago" style="color: black">Trinidad y Tobago</option>
                          <option value="Túnez" style="color: black">Túnez</option>
                          <option value="Turkmenistán" style="color: black">Turkmenistán</option>
                          <option value="Turquía" style="color: black">Turquía</option>
                          <option value="Tuvalu" style="color: black">Tuvalu</option>
                          <option value="Ucrania" style="color: black">Ucrania</option>
                          <option value="Uganda" style="color: black">Uganda</option>
                          <option value="Uruguay" style="color: black">Uruguay</option>
                          <option value="Uzbekistán" style="color: black">Uzbekistán</option>
                          <option value="Vanuatu" style="color: black">Vanuatu</option>
                          <option value="Venezuela" style="color: black">Venezuela</option>
                          <option value="Vietnam" style="color: black">Vietnam</option>
                          <option value="Yemen" style="color: black">Yemen</option>
                          <option value="Yibuti" style="color: black">Yibuti</option>
                          <option value="Zambia" style="color: black">Zambia</option>
                          <option value="Zimbabue" style="color: black">Zimbabue</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Código Postal</label>
                        <input type="number" name="postalcode" class="form-control" placeholder="Código Postal" value="{{postalcode}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Retiros -->
                <h6 class="heading-small text-muted mb-4">Datos de Retiro</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Billetera</label>
                            <select class="form-select form-control" type="txt" name="wallet" aria-label="¿Cual es su billetera?" value="{{wallet}}">
                              <option value="Binance" style="color: black">Binance (Recomendada)</option>
                              <option value="Coinbase" style="color: black">Coinbase</option>
                              <option value="AirTM" style="color: black">AirTM</option>
                              <option value="Uphold" style="color: black">Uphold</option>
                              <option value="Skrill" style="color: black">Skrill</option>
                              <option value="Local Bitcoins" style="color: black">Local Bitcoins</option>
                              <option value="Paypal" style="color: black">Paypal</option>
                              <option value="NETELLER" style="color: black">NETELLER</option>
                              <option value="null" style="color: black">Ninguna de las anteriores</option>
                            </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" >Dirección de Billetera</label>
                        <input name="addresswallet" class="form-control" placeholder="Coloque su dirección de wallet" type="text" value="{{addresswallet}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Escriba algo sobre usted.</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Sobre mí</label>
                    <textarea rows="4" class="form-control" name="description" placeholder="Algunas palabras sobre ti..">{{description}}</textarea>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
              </form>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &copy; 2021 <a href="/" class="font-weight-bold ml-1" target="_blank">Minner Crypto, Inc.</a>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="/legal" class="nav-link" target="">Aviso Legal</a>
              </li>
              <li class="nav-item">
                <a href="/privacy" class="nav-link" target="">Políticas de Privacidad</a>
              </li>
              <li class="nav-item">
                <a href="/cookies" class="nav-link" target="">Cookies</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
